<!DOCTYPE html>
<html>
  <head>
    <title>HELLO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
    <script src="../public/javascripts/semantic.js"></script>    
  </head>
  <body style="background-color: #f6f0f2; padding:2%">
    <div class="ui centered container" style="width:80%; margin-left:10">
      <div class="title" style="text-align: center">
        <h3>WELCOME TO SMART CLASS ROOM</h3>
      </div>
      <div class="main">
          <div class="form-data">
            <form method="POST" action="/updateAllDevices">
            <% for(var dev in data){ %>
              <label>Device <%= dev %> </label>
              <input name = "Device <%= dev %>" type="checkbox" <%= (data[dev] == 1) ? "checked" : "" %> >
           <% } %>
            <input type="submit" value="Submit">
            </form>           
          </div>
      </div>
    </div>
  </body>
</html>
